<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Banco Turnos</title>
        <link rel="stylesheet" href="style.css">
        <script src="middleware.js"></script>
        <style>
            body{
                background-color: cadetblue;
            }
        </style> 
    </head> 

    <nav class="navbar navbar-dark bg-primary navbar-toggle collapsed" >
        <br>
        <div class="container">
            <div class="mx-auto">
                <h1>Banco De Turnos</h1>
            </div>
        </div>    
            <br>
        <div class="buttons container">
            <a href="/ticket">
                <button id="ticketBtn">Tickets</button>
            </a>
            <br><br>
            <a href="/caja1">
                <button id="cajaBtn1">Caja 1</button>
            </a>
            <br><br>
            <a href="/caja2">
                <button id="cajaBtn2">Caja 2</button>
            </a>
        </div>
    </nav>
