
<%- include ('partials/header'); -%>
<!DOCTYPE html>
<html lang="en">
<body>
	<div class="container">
		<h1>Banco Turnos</h1>
        <br><br>
		<div class="buttons container ml-5">
            <br>
			<h3>Caja 2</h3>
			<button id="turnoBtn" type="button" name="turno" onclick="funCaja2(2)">Siguiente Turno</button>
		    <br>
		</div>
	</div>
</body>
</html>
